* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Helvetica Neue LT Pro Extended";
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  padding: 80px 40px;
  background-color: #030303;
}

.project-title-container {
  display: flex;
  justify-content: center;

  div {
    // width: 100%;

    .project-title {
      display: flex; // Flex will allow us to control the gap between words
      padding-right: 0.5rem; // Ensure last letter is not clipped when using oblique fonts
      align-items: baseline;
      justify-content: center;

      overflow: hidden;
      /* Keeps on a single line */
      white-space: nowrap;
      /* The cursor */
      // border-right: 1px solid;
      /* steps = number of characters */
      // animation: typing 2s steps(22) forwards, blink 1s step-end infinite;
    }
  }
}

.exclamation-mark-container {
  display: flex;
  justify-content: center;

  div {
    .exclamation-mark-line {
      // font-family: "Helvetica Neue LT Pro Outline";
      // font-style: italic;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 0.5rem; // Ensure last letter is not clipped when using oblique fonts
      // border-right: 1px solid;
    }
  }
}

.genres-container {
  display: flex;
  justify-content: center;

  div {
    // width: 100%;

    .genre {
      display: flex; // Flex will allow us to control the gap between words
      padding-right: 0.5rem; // Ensure last letter is not clipped when using oblique fonts
      align-items: baseline;
      justify-content: center;

      overflow: hidden;
      /* Keeps on a single line */
      white-space: nowrap;
      /* The cursor */
      // border-right: 1px solid;
      /* steps = number of characters */
      // animation: typing 2s steps(22) forwards, blink 1s step-end infinite;
    }
  }
}

.word-container {
  display: flex;
  justify-content: center;

  div {
    .line {
      display: flex; // Flex will allow us to control the gap between words
      padding-right: 0.5rem; // Ensure last letter is not clipped when using oblique fonts
      align-items: baseline;
      justify-content: center;

      overflow: hidden;
      /* Keeps on a single line */
      white-space: nowrap;
    }
  }
}

.hidden {
  visibility: hidden;
}

.letter-spacing {
  $letter-spacing: 0.25rem; // Adjust this value to control the spacing between letters
  letter-spacing: $letter-spacing;
}

.spinner {
  max-width: 200px;
  position: fixed;
  inset: 0;
  top: 130px;
  left: 470px;

  .spin {
    animation: spin 1s steps(16) infinite;
    transform-origin: 47% 45%; /* Default is the center of the element */
  }
  .spin-fast {
    animation: spin 0.75s steps(32) infinite;
    transform-origin: 47% 45%; /* Default is the center of the element */
  }
}

@keyframes typing {
  from {
    opacity: 1;
    width: 0;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes typing-reverse {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
